<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>

    <!-- *************************************************************** -->
    <!-- ********************* bindings ******************************** -->
    <!-- *************************************************************** -->

    <bindings>
      <netTcpBinding>
        <binding name="serviceTcpEndpoint">
          <security mode="None" />
        </binding>
        <binding name="serviceStreamEndpoint">
          <security mode="None" />
        </binding>
        <binding name="serviceStreamEndpoint1" transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="serviceStreamEndpoint2" transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="serviceTcpEndpoint1">
          <security mode="None" />
        </binding>
        <binding name="serviceStreamEndpoint3" transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="serviceTcpEndpoint2">
          <security mode="None" />
        </binding>
        <binding name="serviceTcpEndpoint3">
          <security mode="None" />
        </binding>
        <binding name="serviceStreamEndpoint4" transferMode="Streamed">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>



    <!-- *************************************************************** -->
    <!-- ********************* proxy *********************************** -->
    <!-- *************************************************************** -->
    
    <client>
      <endpoint address="net.tcp://localhost:8091/StreamedTransferService"
        binding="netTcpBinding" bindingConfiguration="serviceStreamEndpoint"
        contract="FolderSynchService.StreamedTransferContract" name="serviceStreamEndpoint" />
      <endpoint address="net.tcp://localhost:8091/StreamedTransferService"
        binding="netTcpBinding" bindingConfiguration="serviceStreamEndpoint1"
        contract="StreamedTransferService.StreamedTransferContract"
        name="serviceStreamEndpoint1" />
      <endpoint address="net.tcp://localhost:8090/FolderSynchService"
        binding="netTcpBinding" bindingConfiguration="serviceTcpEndpoint"
        contract="FolderSynchService.FolderSynchServiceContract" name="serviceTcpEndpoint" />
      <endpoint address="net.tcp://localhost:8091/StreamedTransferService"
        binding="netTcpBinding" bindingConfiguration="serviceStreamEndpoint2"
        contract="StreamedTransferService.StreamedTransferContract"
        name="serviceStreamEndpoint2" />
      <endpoint address="net.tcp://localhost:8090/FolderSynchService"
        binding="netTcpBinding" bindingConfiguration="serviceTcpEndpoint1"
        contract="FolderSynchService.FolderSynchServiceContract" name="serviceTcpEndpoint1" />
      <endpoint address="net.tcp://localhost:8091/StreamedTransferService"
        binding="netTcpBinding" bindingConfiguration="serviceStreamEndpoint3"
        contract="StreamedTransferService.StreamedTransferContract"
        name="serviceStreamEndpoint3" />
      <endpoint address="net.tcp://localhost:8090/FolderSynchService"
        binding="netTcpBinding" bindingConfiguration="serviceTcpEndpoint2"
        contract="FolderSynchService.FolderSynchServiceContract" name="serviceTcpEndpoint2" />
      <endpoint address="net.tcp://localhost:8090/FolderSynchService"
        binding="netTcpBinding" bindingConfiguration="serviceTcpEndpoint3"
        contract="FolderSynchService.FolderSynchServiceContract" name="serviceTcpEndpoint3" />
      <endpoint address="net.tcp://localhost:8091/StreamedTransferService"
        binding="netTcpBinding" bindingConfiguration="serviceStreamEndpoint4"
        contract="StreamedTransferService.StreamedTransferContract"
        name="serviceStreamEndpoint4" />
    </client>
    
  </system.serviceModel>
</configuration>