<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>

    <!-- *************************************************************** -->
    <!-- ********************* bindings ******************************** -->
    <!-- *************************************************************** -->

    <bindings>
      <netTcpBinding>
        <binding name="serviceTcpEndpoint">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>



    <!-- *************************************************************** -->
    <!-- ********************* proxy *********************************** -->
    <!-- *************************************************************** -->
    
    <client>
      <endpoint address="net.tcp://localhost:8090/FolderSynchService"
        binding="netTcpBinding" bindingConfiguration="serviceTcpEndpoint"
        contract="FolderSynchService.FolderSynchServiceContract" name="serviceTcpEndpoint" />
    </client>
    
  </system.serviceModel>
</configuration>