<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>

    <!-- ******************************************************************* -->
    <!-- ****************************** bindings *************************** -->
    <!-- ******************************************************************* -->

    <bindings>
      
      <netTcpBinding>

        <binding name="binding1"  >
          <security mode="None"/>
        </binding>

        <binding name="binding2" transferMode="Streamed">
          <security mode="None"/>
        </binding>
        
      </netTcpBinding>

      
    </bindings>

    
    <!-- ******************************************************************* -->
    <!-- ****************************** behaviors ************************** -->
    <!-- ******************************************************************* -->

    <behaviors>
      <serviceBehaviors>

        <!-- enable metadata requests -->
        <behavior name="enableMetadata">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
          
      </serviceBehaviors>
    </behaviors>
    
    
    
    <!-- ******************************************************************* -->
    <!-- ****************************** services *************************** -->
    <!-- ******************************************************************* -->

    <services>
      <service behaviorConfiguration="enableMetadata" 
               name="FolderSynchService.FolderSynchImplementation">
        
        <endpoint address="FolderSynchService" 
                  binding="netTcpBinding"
                  bindingConfiguration="binding1" 
                  name="serviceTcpEndpoint" 
                  contract="FolderSynchService.FolderSynchServiceContract" />

        <endpoint address="Metadata" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8090/" />
          </baseAddresses>
        </host>
        
      </service>
    </services>
  </system.serviceModel>
  
</configuration>